<div class="km-btn-group export-group">
    <div class="km-btn-item" ng-click="exportKm()" title="{{ 'export_km' | lang:'ui/command' }}">
        <i class="km-btn-icon"></i>
        <span class="km-btn-caption">{{ 'export_km' | lang:'ui/command' }}</span>
    </div>
    <div class="km-btn-item" ng-click="exportPng()" title="{{ 'export_png' | lang:'ui/command' }}">
        <i class="km-btn-icon"></i>
        <span class="km-btn-caption">{{ 'export_png' | lang:'ui/command' }}</span>
    </div>
</div>